<% include header %>
<div class="ui segments">
        <div class="ui teal secondary  segment">
          <p>|| Etat du marché || Temps : 0 Cycles | Taille total de marché : 0 euros </p>
        </div>
      
        <div class="ui segment">

                <div class="ui segments">
                        <div class="ui segment">
                          <p>Liste des concurrents </p>
                        </div>
                        <div class="ui segments">
                          <div class="ui horizontal segments">
                            <div class = "ui compact segment">Marcel</div> 
                            <div class = "ui segment">dev </div>
                            <div class = "ui segment">Ressources financières: 1.500e</div>
                            <div class = "ui segment">Taille de l'équipe dev : 2 </div>
                            <div class = "ui segment">Part de marché : 100% </div>
                          </div>
                          <div class="ui horizontal segments">
                                <div class = "ui compact segment">Danny</div> 
                                <div class = "ui segment">Investor </div>
                                <div class = "ui segment">Ressources financières: 1.500.000e </div>
                                <div class = "ui segment">Taille de l'équipe dev : 0 </div>
                                <div class = "ui segment">Part de marché : 0% </div>
                            </div>
                        </div>
                    
                        </div>
                        <div class="ui segment">
                          <p>C'est au tour de <%= domData %></p>
                        </div>

                        <div class="ui four column centered grid">
                              <div class="column yellow">
                                <a class="ui blue ribbon label">Developer</a>
                                <p>R&D - 3 cycles <button class="ui primary button right floated"> x </button> </p>
                              </div>
                              <div class="column orange ">
                                  <p>Recruit dev - 6 cycles <button class="ui primary button right floated"> x </button> </p>

                              </div>
                              <div class="column red">
                                  <p>Recruit Investor - 12 cycles <button class="ui primary button right floated"> x </button> </p>

                              </div>
                          </div>
                        <div class="ui four column centered grid">
                            <div class="column yellow">
                              <a class="ui blue ribbon label">Investor</a>

                              <p>Advertising - 2 cycles <button class="ui primary button right floated"> x </button> </p>
                            </div>
                            <div class="column orange ">
                                <p>Recruit dev - 8 cycles <button class="ui primary button right floated"> x </button> </p>

                            </div>
                            <div class="column red">
                                <p>R&D - 13 cycles <button class="ui primary button right floated"> x </button> </p>

                            </div>
                        </div>
                  </div>
                      


                       
                
        </div>
      </div>


      <% include footer %>
