<!DOCTYPE html>
<html>
<head>
    <title>Todo v0.1.0</title>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
</head>
<body>

<div class="ui menu">
    <a href="/" class ="header item ">Do it!</a>
</div>

<div class="ui segments">
        <div class="ui teal secondary  segment">
          <p>|| Etat du marché || Temps : 0 Cycles | Taille total de marché : 0 euros </p>
        </div>
      
        <div class="ui segment">

                <div class="ui segments">
                        <div class="ui segment">
                          <p>Liste des concurrents </p>
                        </div>
                        <div class="ui segments">
                          <div class="ui horizontal segments">
                            <div class = "ui compact segment">Marcel</div> 
                            <div class = "ui segment">dev </div>
                            <div class = "ui segment">Ressources financières: 1.500e</div>
                            <div class = "ui segment">Taille de l'équipe dev : 2 </div>
                            <div class = "ui segment">Part de marché : 100% </div>
                          </div>
                          <div class="ui horizontal segments">
                                <div class = "ui compact segment">Danny</div> 
                                <div class = "ui segment">Investor </div>
                                <div class = "ui segment">Ressources financières: 1.500.000e </div>
                                <div class = "ui segment">Taille de l'équipe dev : 0 </div>
                                <div class = "ui segment">Part de marché : 0% </div>
                            </div>
                        </div>
                    
                        </div>
                        <div class="ui segment">
                          <p>5 Middle</p>
                        </div>
                        <div class="ui horizontal segments">
                          <div class="ui segment">
                            <p>6 Top</p>
                          </div>
                          <div class="ui segment">
                            <p>7 Middle</p>
                          </div>
                          <div class="ui segment">
                            <p>8 Bottom</p>
                          </div>
                        </div>
                        <div class="ui segment">
                          <p>9 Bottom</p>
                        </div>
                      </div>
                
        </div>
      </div>


</body>
</html>
<style>
</style>