<!DOCTYPE html>
<html>
<head>
    <title>Todo v0.1.0</title>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
</head>
<body>

<div class="ui menu">
    <a href="/" class ="header item ">Do it!</a>
    <a href="/start" class ="header item ">Restart</a>
</div>
